@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import "tailwindcss";

@theme {
  /* Fonts */
  --font-Inter: Inter, sans-serif;
  --font-Lato: Lato, sans-serif;

  /* Colors */

  /* Primary */
  --color-primary-10: #D64532;

  /* neutral */
  --color-neutral-10: #000;
}

.bg-gradient-primary {
  background: var(--bg-gradient-primary);
}

.bg-gradient-dark {
  background: var(--bg-gradient-dark);
}
.bg-project-bg-gradient {
  background: var(--bg-project-bg-gradient);
}
.bg-service-gradient {
  background: var(--bg-service-gradient);
}
.bg-faq-bg-gradient {
  background: var(--bg-faq-bg-gradient);
}
.bg-faq-gradient {
  background: var(--bg-faq-gradient);
}
.bg-about-bg-gradient {
  background: var(--bg-about-bg-gradient);
}
.bg-about-bg-gradient2 {
  background: var(--bg-about-bg-gradient2);
}
.bg-our-projects-bg-gradient {
  background: var(--bg-our-projects-bg-gradient);
}

/* Custom scrollbar for a specific section */
.custom-scrollbar {
  overflow-y: auto;
  max-height: 400px;
  /* Adjust height as needed */
}

/* Scrollbar Track (non-scrolled area) */
.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
  /* Scrollbar width */
}

/* Scrollbar Thumb (scrolled area) */
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #1d293d;
  /* Dark blue scrollbar */
  border-radius: 4px;
}

/* Scrollbar Track (background) */
.custom-scrollbar::-webkit-scrollbar-track {
  background: #020618;
  /* Dark background for non-scrolled area */
}

@keyframes rotate {
  from {
    transform: translate(-50%, -50%) scale(1.4) rotate(0turn);
  }
  to {
    transform: translate(-50%, -50%) scale(1.4) rotate(1turn);
  }
}

@keyframes scroll-up {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50%);
  }
}

@keyframes scroll-down {
  0% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(0);
  }
}

.animate-scroll-up {
  animation: scroll-up linear infinite;
}

.animate-scroll-down {
  animation: scroll-down linear infinite;
}

/* Only apply to divs with custom-scrollbar class */
.custom-scrollbar::-webkit-scrollbar {
  width: 3px;
  height: 3px; /* for horizontal scrolling */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 5px;
}

/* Firefox support */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: gray transparent;
}


/* Swiper Pagination Dots Custom Styles */
.swiper-pagination-bullet {
  background-color: #888888 !important; /* Unselected: gray */
  opacity: 1 !important;
  width: 8px;
  height: 8px;
  margin: 0 6px !important;
  border-radius: 9999px;
  transition: all 0.3s ease;
}

.swiper-pagination-bullet-active {
  background-color: #06a0ed !important; /* Selected: blue */
  width: 12px;
  height: 12px;
  transform: translateY(-2px);
}

/* 
@keyframes gradient-border {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient-border {
  background-size: 200% 200%;
  animation: gradient-border 3s ease infinite;
} */


/* hide scrollbar for Webkit */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* hide scrollbar for Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
